<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Users')"></head>
<body>
<div class="navbar-fixed">
    <nav>
        <div class="container">
            <a th:href="@{/}" class="brand-logo">DemotyApp</a>
            <a href="#" data-activates="mobile-nav" class="button-collapse right"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a th:href="@{/}">Explore</a></li>
                <li><a th:href="@{/categories}">Categories</a></li>
                <li><a th:href="@{/favorites}">Favorites</a></li>
                <li class="active"><a th:href="@{/users}">Users</a></li>
            </ul>
            <ul id="mobile-nav" class="side-nav">
                <li><a th:href="@{/}">Explore</a></li>
                <li><a th:href="@{/categories}">Categories</a></li>
                <li><a th:href="@{/favorites}">Favorites</a></li>
                <li class="active"><a th:href="@{/users}">Users</a></li>
            </ul>
        </div>
    </nav>
</div>

<div th:replace="layout :: searchbar"></div>

<div class="container">
    <div class="row">
        <table class="striped bordered responsive-table">
            <tr>
                <!-- <th type="hidden" width="5%">UserID</th> -->
                <th>FirstName</th>
                <th>LastName</th>
                <th>UserName</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            <tr th:each="user : ${users}">
                <!-- <td type="hidden" th:text="${user.id}"></td> -->
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
                <td>
                    <a th:href="@{|/form/${user.id}|}" th:type="button" class="waves-effect waves-light btn">EDIT</a>
                    <a th:href="@{|/user/delete/${user.id}|}" th:type="button" class="waves-effect waves-light btn red" onclick="if (!(confirm('Delete?'))) return false">DELETE</a>
                </td>
            </tr>
        </table>
    </div>
</div>


<div th:replace="layout :: scripts"></div>

</body>
</html>

