<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Add new category')"></head>
<body>
<div th:replace="layout :: nav"></div>
<div class="navbar-fixed">
    <nav>
        <div class="container">
            <a th:href="@{/}" class="brand-logo">DemotyApp</a>
            <a href="#" data-activates="mobile-nav" class="button-collapse right"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li class="active"><a th:href="@{/}">Explore</a></li>
                <li><a th:href="@{/categories}">Categories</a></li>
                <li><a th:href="@{/favorites}">Favorites</a></li>
                <li><a th:href="@{/users}">Users</a></li>
            </ul>
            <ul id="mobile-nav" class="side-nav">
                <li class="active"><a th:href="@{/}">Explore</a></li>
                <li><a th:href="@{/categories}">Categories</a></li>
                <li><a th:href="@{/favorites}">Favorites</a></li>
                <li><a th:href="@{/users}">Users</a></li>
            </ul>
        </div>
    </nav>
</div>



<div class="container">
    <h3 th:text="${formCategory}">Form template static</h3>
    <form th:action="@{/category/save}" method="post" th:object="${category}">
        <div class="row">
            <div class="col s9">
                <h5>Categories</h5>
            </div>
        </div>
        <input type="hidden" th:field="*{id}"/>

        <div class="divider"></div>
        <div class="row">
            <div class="col s12 l8">
                <input type="text" th:field="*{name}" placeholder="Category Name" required="required"/>
            </div>
        </div>



        <div class="row">
            <div class="col s12 l8">
                <button type="submit" class="waves-effect waves-light btn green">Save</button>
                <a th:href="@{/categories}" th:type="button" class="waves-effect waves-light btn">Cancel</a>
            </div>
        </div>
    </form>

</div>


<div th:replace="layout :: scripts"></div>

</body>
</html>