<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Favorites')"></head>
<body>
<div class="navbar-fixed">
    <nav>
        <div class="container">
            <a th:href="@{/}" class="brand-logo">DemotyApp</a>
            <a href="#" data-activates="mobile-nav" class="button-collapse right"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a th:href="@{/}">Explore</a></li>
                <li><a th:href="@{/categories}">Categories</a></li>
                <li class="active"><a th:href="@{/favorites}">Favorites</a></li>
                <li><a th:href="@{/users}">Users</a></li>
                <li><a th:href="@{/upload}">Upload</a></li>
            </ul>
            <ul id="mobile-nav" class="side-nav">
                <li><a th:href="@{/}">Explore</a></li>
                <li><a th:href="@{/categories}">Categories</a></li>
                <li class="active"><a th:href="@{/favorites}">Favorites</a></li>
                <li><a th:href="@{/users}">Users</a></li>
                <li><a th:href="@{/upload}">Upload</a></li>
            </ul>
        </div>
    </nav>
</div>

<div th:replace="layout :: searchbar"></div>

<div class="gifs container">
    <div class="row">
        <div th:each="gif : ${gifs}" class="col s12 l4">
            <a th:href="@{|/gif/${gif.name}|}">
                <img th:src="@{|/gifs/${gif.name}.gif|}"/>
                <a href="#" th:class="(${gif.favorite}? 'un' : '') + 'mark favorite'"></a>
            </a>
        </div>
    </div>
</div>

<div th:replace="layout :: scripts"></div>

</body>
</html>